<div class="tab anatomy" data-group="primary" data-tab="anatomy">
  <section class="grid grid-6col">
    <section class="main grid-span-2">
      One
    </section>
    <section class="second grid-span-1">
      Two
    </section>
    <section class="third grid-span-3">
      Three
    </section>
  </section>
</div>